{%extends 'navbar_only.html'%}
{%block content%}
{%load static%}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css">
<style>
    .btn-toggle[aria-expanded="true"]::before {
        transform: rotate(90deg);
    }

    .btn-toggle::before {
        margin-right: 15px;
        width: 1.25em;
        line-height: 0;
        content: url(images/chevron-right.svg);
        transition: transform .35s ease;
        transform-origin: 0.5em 50%;
    }
    .btn:hover, .btn:active{
        background-color: #F5F4FF;
        border: 1px solid #F5F4FF;
    }

    .btn-toggle-nav{
        background-color: #F5F4FF;
    }

    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
        background-color: #F5F4FF;
        color: #333;
    }
    #navbar-bg{
        width: 100%;
        background-color: #F5F4FF;
    }
    #navbar-bg > .nav-link{
        color: #333;
    }
    .nav-item > .nav-link{
        color: #333;
    }
    #lang_btn, #btn{
        border: 2px solid #333!important;
        color: #333;
        font-weight: 700;
        background-color: #fff;
    }
    .carousel-inner{
        max-width: 100%;
    }
    .carousel{
        padding: 0;
        min-height: 55vh;
    }
    .most-inner {
        margin-top: 2vh;
        left: 0;
    }

    .tabcontent{
        background-color: #F5F4FF;
    }
    #scrolling {
        background-color: white;
        position: relative;
        overflow: hidden;
    }
    #scrolling:before, #scrolling:after {
        content: '';
        display: block;
        background-color: #fff;
        width: 100%;
        height: 75px;
        position: absolute;
        z-index: 99;
    }
    #scrolling:before {
        border-radius: 0% 0% 50% 50% / 0% 0% 100% 100%;
        top: 0;
    }
    #scrolling:after {
        border-radius: 50% 50% 0% 0%  / 100% 100% 0% 0% ;
        bottom: 15px;
    }

    .image-gallery {
        display: flex;
        flex-direction: column;
    }

    .image-gallery .column {
        display: flex;
        flex-direction: column;
    }

    .image-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media only screen and (max-width: 600px) {
        .image-gallery {
            flex-direction: row;
        }
        h1.about_h1{
        font-size: 22px;
        }
        p.about_p{
            width: 100%;
            margin: 0px;
        }
        .glide{
            display: none;
        }
        div.position-relative{
            margin: 0 50px;
        }
        div.back > div.col-md-7{
            display: none;
        }
    }

    .nav-item a.border-white{
        border-color: #333!important;
        color: #333!important;
    }
    .dropdown button.border-white{
        border-color: #333!important;
    }
    .sticky-top{
        top: 75px;
    }

    span.position-absolute span.fw-bold, span#ob{
        text-shadow: -2px 2px 9px black;
    }
    #header{
        padding-top: 230px;
        text-align: center;
        width: 65%;
        margin: auto;
    }


</style>

{%for course in onecourse%}

<div id="header" class="container-lg">
    <p class="text-center p-5 text-success"><span class="fw-bold"><a href="{%url 'index'%}"
                                                                     class="text-success text-decoration-none">BOSH SAHIFA</a> </span>
        | <a href="{%url 'about'%}" class="text-success text-decoration-none">KURSLAR VA TA'LIM</a> | <a
                href="{%url 'every_course' course.course_name%}" class="text-success text-decoration-none">{{course.course_name}}</a>
    </p>
    <div class="row">
        <div class="col-md-6">

            <h1 class="fw-bold">{{course.course_name}}</h1>
            <hr class="w-25" style="border: 2px solid #62BC9E;">

            <p id="skill" class="border border-2 rounded-2 border-dark ps-4 p-1">
                {{course.course_details}}
            </p>

        </div>
        <div class="col-md-6">
            <img loading="lazy" class="rounded w-100" src="https://astrum.uz/images/courses/1.png" alt="">
        </div>
    </div>
</div>

<section>
    <div class="container-lg">
        <div class="row">
            <div class="col-md-4">
                <nav id="navbar-bg" class="navbar sticky-top rounded p-4">
                    <ul class="nav navbar-nav w-100">
                        <li>
                            {{course.course_name}}
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#about"> Kurs haqida </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#lessons"> O'quv dasturlari </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#mentors"> O'qituvchilar </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#kurs_room"> Xonalar </a>
                        </li>
                        <br>
                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                             aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Registratsiya</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'submit_form' %}" method="POST">
                                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                            <div id="errorContainer" class="text-center p-3"></div>
                                            <div class="mb-3">
                                                <label for="firstName" class="form-label">Ism</label>
                                                <input type="text" name="first_name" id="firstName" class="form-control"
                                                       required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="lastName" class="form-label">Familiya</label>
                                                <input type="text" name="last_name" id="lastName" class="form-control">
                                            </div>
                                            <div class="mb-3">
                                                <label for="phone_number" class="form-label">Telefon raqam</label>
                                                <input type="tel" name="phone_number" pattern="[0-9]{12}"
                                                       placeholder="998 99 111 22 33" id="phone_number"
                                                       class="form-control">
                                            </div>
                                            <div class="mb-3">
                                                <label for="emailInput" class="form-label">Email</label>
                                                <input type="email" name="email" class="form-control" id="emailInput"
                                                       placeholder="example@gmail.com" required>
                                                <small id="emailError"
                                                       class="form-text text-danger invalid-feedback"></small>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Yuborish</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Confirmation Modal -->
                        <div class="modal fade" id="confirmationModal" aria-hidden="true"
                             aria-labelledby="confirmationModalLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="confirmationModalLabel">Registration
                                            Status</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="confirmationMessage" class="text-center"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-danger bg-dark p-2 text-white"
                                data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Hoziroq ro'yxatdan o'ting
                        </button>


                        <script>
                            $(document).ready(function() {
                                $("#exampleModalToggle form").submit(function(e) {
                                    e.preventDefault();
                                    var form = $(this);
                                    $.ajax({
                                        url: form.attr("action"),
                                        type: "POST",
                                        data: form.serialize(),
                                        success: function(response) {
                                            // Hide the registration modal
                                            $("#exampleModalToggle").modal("hide");

                                            // Display the message in the confirmation modal
                                            $("#confirmationMessage").text(response.message);
                                            $("#confirmationModal").modal("show");

                                            // Hide the confirmation modal and redirect after a short delay
                                            $("#confirmationModal").on('hidden.bs.modal', function () {
                                                window.location.replace("{% url 'every_course' course.course_name %}");  // Adjust URL as needed
                                            });
                                        },
                                        error: function(xhr, status, error) {
                                            var errorMessage = xhr.responseText;
                                            $("#errorContainer").html(`<div class="p-3 mb-2 bg-danger text-white" role="alert">${errorMessage}</div>`);
                                        }
                                    });
                                });
                            });


                        </script>
                    </ul>
                </nav>
            </div>


            <div class="col-md-8 pt-5">
                <div>
                    <p id="about" class="fw-bold text-success">Kurs haqida</p>
                    <h1>{{course.course_theme}}</h1>
                    <p>{{course.course_description}}</p>

                    <video class="w-100 rounded" playsinline="playsinline" autoplay="autoplay" controls="controls"
                           preload="auto" onclick="this.play()"  loop="loop"> <!-- autoplay="autoplay" -->
                        <source src="{{course.course_video.url}}" type="video/mp4">
                    </video>
                </div>




                <hr class="fw-bold">
                <div class="row mt-5">
                    <p id="lessons" class="fw-bold text-success">O'QUV PROGRAMMASI</p>
                    <h1 class="fw-bold mb-5">{{course.course_name}} kursida siz quyidagilarni
                        o'rganasiz:</h1>
                    {%endfor%}
                    {%for skill in skills%}
                    <div class="d-flex">
                        <i class="bi bi-check-lg me-1 mb-1 mt-1" style="font-size: 40px;"></i>
                        <p class="ms-3"><span class="fw-bold">{{skill.course_skill_name}}</span> <br> {{skill.course_skill_desc}}</p>
                    </div>
                    <hr class="fw-bold border-1">
                    {%endfor%}

                </div>

                <div class="row">
                    <p id="mentors" style="color: #62BC9E;" class="fw-bold mt-5">TAJRIBALI O'QITUVCHILARIMIZ</p>
                    <h1 class="fw-bold">Kasb-hunarni ekspertlardan o'rganing </h1>
                    <p>Bizning har bir  professional o'qituvchilarimiz sizga eng yaxshi kasb-hunarlarni egallashda ko'maklashadi
                        va o'z kasbingizni haqiqiy sohibi qilib yetishtirishadi. O'qituvchilarning hammasi katta tajriba va kuchli bilimga ega.
                    </p>
                </div>
                {%for teacher in teachers%}
                <div class="row">
                    <div class="col-md-5">
                        <img loading="lazy" src="{{teacher.teacher_picture.url}}"
                             class="rounded w-100" alt="image">
                    </div>
                    <div class="col-md-7">
                        <div class="">
                            <h1>{{teacher.teacher_fullname}}</h1>
                            <p><strong>{{teacher.teacher_major}}</strong></p>
                            <hr class="w-25" style="border: 2px solid #62BC9E;">
                            <p class="text-base">
                                {{teacher.teacher_motto}}
                            </p>
                            <p class="text-base">
                            </p>
                            <p class="text-base">
                            </p>
                        </div>
                    </div>
                    <hr class="mt-5 mb-5">
                    {%endfor%}



                    <p id="kurs_room" style="color: #62BC9E;" class="fw-bold mt-5">Bizning xonalar</p>
                    <h1 class="fw-bold">Har qanday sharoitga ega bo'lgan xonalarimiz</h1>

                </div>
                <div class="container-fluid" style="width: 100%">
                    <div class="carousel">
                        <div class="carusel-top">
                            <div class="carousel-inner">
                                <div class="most-inner">
                                    {%for pic in carousel%}
                                    <img loading="lazy" src="{{pic.carousel.url}}">
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-5 mb-5">


                <p style="font-size: 30px;">+998 ### ## ##</p>
                <p class="fw-bold">Bizga yozishingiz mumkin</p>
                <div class="d-flex w-25">
                    <a href="#" target="_blank" class="text-dark"><i class="bi bi-telegram me-3"
                                                                                         style="font-size: 45px;"></i></a>
                    <a href="#" class="text-dark" target="_blank"><i
                            class="bi bi-facebook me-3" style="font-size: 45px;"></i></a>
                    <a href="#" class="text-dark" target="_blank"><i
                            class="bi bi-instagram me-3" style="font-size: 45px;"></i> </a>
                    <a href="#" class="text-dark" target="_blank"><i
                            class="bi bi-tiktok me-3" style="font-size: 45px;"></i> </a>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            {%for course in courses%}
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-6 col-md-6">
                <div class="card hvr-float m-auto mt-3" style="width: 18rem;">
                    <img loading="lazy" class="card-img-top" src="{{course.course_picture.url}}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title fw-bold">{{course.course_name}}</h6>
                        <hr class="w-25 border border-success border-2">
                        <a href="{%url 'every_course' course.course_name%}" class="btn btn-outline-success p-3 rounded">
                            Batafsil
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</section>
{%endblock%}
